/*
* Reserva 0.1 
* Responsive css framework, without the bullshit
* By Ev Bogue http://evbogue.com
* Public domain
* Inspired by Skeleton http://getskeleton.com/
*/ 

/* reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; }

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;}

	body { line-height: 1em; }

	blockquote, q {
	quotes: none; }

	blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none; }
	
/* basic */

	body { background: #fff;
	font: 1em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444; 
	margin-top: 3em;
	margin-bottom: 5em; }

/* typography */

	h1, h2, h3, h4, h5, h6 {
	color: #333;
	font-weight: normal; }

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { 
	font-weight: inherit; }

	h1 { font-size: 2em; line-height: 2.2em; margin-bottom: 1em; }
	h2 { font-size: 1.8em; line-height: 2em; margin-bottom: .6em; }
	h3 { font-size: 1.6em; line-height: 1.8em; margin-bottom: .4em; }
	h4 { font-size: 1.4em; line-height: 1.6em; margin-bottom: .2em; }
	h5 { font-size: 1.2em; line-height: 1.4em; }
	h6 { font-size: 1em; line-height: 1.2em; }

	p {
	font-size: 1em;
	line-height: 1.38em;  
	margin: 0 0 1.2em 0; }
	p img { margin: 0; }

	em { font-style: italic; }
	strong { font-weight: bold; color: #333; }
	small { font-size: .8em; }
	
        blockquote, blockquote p { font-size: 1em; font-style: italic;  line-height: 1.2em; color: #666; }
	blockquote { margin: 0 0 1.4em; padding: .8em; 1.4em 0 1.2em; border-left: 1px solid #666; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: .9em; 0 2em; height: 0; }

/* links */

	a, a:visited { color: #333; text-decoration: underline; outline 0; }
	a:hover, a:focus { color: #000; }
	p a, p a:visited: { line-height: inherit; }


/* lists */

	ul, ol { margin-bottom: 1.3em; }
	ul { list-style: square outside; margin-left: 2em; }
	ol { list-style: decimal; margin-left: 2.6em; }
	li { line-height: 1.35em; margin-bottom: .5em; } 

/* images */

	img.full {
		max-width: 100%;
		height: auto;
		}

	img.profile {
		padding: 4px;
		border: 1px solid #ccc;
		box-shadow: 1px 3px 3px #ddd;
		}

/* buttons */


        .button,
        button,
        input[type="submit"],
        input[type="reset"],
        input[type="button"] {
                background: #eee; /* Old browsers */
	        background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%,
rgba(0,0,0,.2) 100%); /* FF3.6+ */
                background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
                background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
                background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
                background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */

                background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
          border: 1px solid #aaa;
          border-top: 1px solid #ccc;
          border-left: 1px solid #ccc;
          border-radius: 5px;
          color: #444;
          display: inline-block;
          font-size: .8em;
          font-weight: bold;
          text-decoration: none;
          text-shadow: 0 1px rgba(255, 255, 255, .75);
          cursor: pointer;
          margin-bottom: 1.2em;
          line-height: normal;
          padding: .8em 1em;
          font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

       .button:hover,
        button:hover,
        input[type="submit"]:hover,
        input[type="reset"]:hover,
        input[type="button"]:hover {
                color: #222;
                background: #ddd; /* Old browsers */
                background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%,
rgba(0,0,0,.3) 100%); /* FF3.6+ */
                background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
                background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
                background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
                background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
                background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
          border: 1px solid #888;
          border-top: 1px solid #aaa;
          border-left: 1px solid #aaa; }

       .button:active,
        button:active,
        input[type="submit"]:active,
        input[type="reset"]:active,
        input[type="button"]:active {
                border: 1px solid #666;
                background: #ccc; /* Old browsers */
                background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
                background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
                background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35)
0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
                background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
                background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
                background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }


/* forms */

	form { margin-bottom: 1.2em }
	fieldset { margin-bottom: 1.2em }

	input[type="text"],
        input[type="password"],
        input[type="email"],
        textarea,
        select {
                border: 1px solid #ccc;
                padding: 6px 4px;
                outline: none;
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                font: 1em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #777;
                margin: 0;
                width: 13em;
                max-width: 100%;
                display: block;
                margin-bottom: 20px;
                background: #fff; }
        textarea {
                min-height: 3.75em; }
        label,
        legend {
                display: block;
                font-weight: bold;
                font-size: 1em;  }
        select {
                width: 13em; }
        input[type="checkbox"] {
                display: inline; }
        label span,
        legend span {
                font-weight: normal;
                font-size: 1em;
                color: #444; }

/* grid */

    .container                                  { position: relative; width: 80%; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { margin-right: 3.2786885%; float: left; min-height: 1px; }

    .container .one.column,
    .container .one.columns                     { width: 5.32%;  }
    .container .two.columns                     { width: 13.93%; }
    .container .three.columns                   { width: 22.54%; }
    .container .four.columns                    { width: 31.14%; }
    .container .five.columns                    { width: 39.75%; }
    .container .six.columns                     { width: 48.36%; }
    .container .seven.columns                   { width: 56.96%; }
    .container .eight.columns                   { width: 65.57%; }
    .container .nine.columns                    { width: 74.18%; }
    .container .ten.columns                     { width: 82.78%; }
    .container .eleven.columns                  { width: 91.39%; }
    .container .twelve.columns                  { width: 100%; }

    .container .offset-by-one                   { padding-left: 5.32%; }
    .container .offset-by-two                   { padding-left: 13.93%; }
    .container .offset-by-three                 { padding-left: 22.54%; }
    .container .offset-by-four                  { padding-left: 31.14%; }
    .container .offset-by-five                  { padding-left: 39.75%; }
    .container .offset-by-six                   { padding-left: 48.36%; }
    .container .offset-by-seven                 { padding-left: 56.96%; }
    .container .offset-by-eight                 { padding-left: 65.57%; }
    .container .offset-by-nine                  { padding-left: 74.18%; }
    .container .offset-by-ten                   { padding-left: 82.78; }
    .container .offset-by-eleven                { padding-left: 91.39%; }



/* mobile */

    @media only screen and (max-width: 767px) {
        .container { width: 80%; margin: 0 auto;}
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 100%; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* mobile landscape */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 80%; margin: 0 auto; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 100%; }
    }

/* clearfix */ 

    .container:after { content: "\0020"; display: block; height: 0; clea
ibility: hidden; }

    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

