@font-face {
  font-family: "OpenSans";
  src: url("/static/OpenSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "OpenSans";
  src: url("/static/OpenSans-RegularItalic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("/static/OpenSans-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "OpenSans";
  src: url("/static/OpenSans-LightItalic.ttf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("/static/OpenSans-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "OpenSans";
  src: url("/static/OpenSans-BoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

body {

  background: #fefefe;
  font-family: "OpenSans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "OpenSans", sans-serif;
}
p,
li,
.button {
  font-family: "OpenSans", sans-serif;
  font-weight: 300;
}
pre {
  border: 1px solid #f5f5f5;
  background: #fff;
  font-family: "OpenSans", monospace;
  margin-bottom: 1em;
}
code {
  border-radius: 5px;
}
mark {
  background: #ffff66;
  font: #fff;
}
.navbar {
  background: #f5f5f5;
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding-top: 7px;
  padding-bottom: 7px;
}
.navbar-top {
  box-shadow: 0px 5px 3px #dcdcdc;
  top: 0;
}
.navbar-ven {
  top: 0;
}
.navbar p,
.navbar li,
.navbar ul {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.navbar li {
  float: left;
  padding-left: 1em;
  padding-right: 2em;
  margin-left: 0;
  list-style-type: none;
}
.navbar a {
  text-decoration: none;
  color: #000000;
}
.navbar a:hover {
  color: #000000;
}
