<p><strong>gwen bell • mexico city • 2014</strong></p>

<p style="color: #666;">$date$</p>
    $if(author)$
        by $author$
    $endif$

$body$

<hr />

<p style="margin-bottom: 2em;"><a href="http://gwenbell.com/about">about</a> • <a href="http://gwenbell.com/contact">contact</a> • <a href="https://gitlab.com/gwenbell/gwenbell">code repository</a> </p>
